body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
/* slider section  */



/* navbar  */
.nav-header .navbar-brand{
    font-size: 25px;
}
.nav-menu ul{
    margin-left: 451px;
}

.btn-log{
    margin-left: 40px;
}

.slider-section{
    background: url(./img/ia_200000012.jpg)  ;
    background-position: center;
    background-size: cover;
    padding: 300px 0;
    position: relative;
    z-index: 9;
}
.slider-section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* about section  */

.about-section{
    background: #eaecf1;
}
.about-section .about-text{
    margin-top: 50px;
}
.about-text .lead{
    font: 20px;
    line-height: 1.6rem;
}

/* feature-section  */

.feature-item{
    height: 300px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.left-img-sec{
    width: 40%;
    overflow: hidden;
    border-radius:5px 0 0 5px;
}
.left-test-sec{
    width: 60%;
    padding: 20px;
}
.left-img-sec img{
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -100px;


}
